:root{
    // COLORS
    --primary-color:#02458b;
    --yellow:#f9c905;
    --red:#fc0637;
    --green:#439942;
    --light-yellow:#fffe02;

    // GREY SHADES
    --dark-grey1:#333333;
    --dark-grey2:#555555;
    --dark-grey3:#777777;
    --dark-grey5:#999999;
    --dark-grey6:#aaaaaa;

    --light:#ffffff;
    --light-grey1:#efefef;
    --light-grey2:#eeeeee;
    --light-grey3:#dddddd;
    --light-grey4:#cccccc;
    --light-grey5:#bbbbbb;

    --cosmos-red:#fcd7cf;
    --perano-blue:#b0c4ff;
    --reef-green:#ccff9a;
    --onahau-blue:#c4f4ff;
    --canary-yellow:#feff99;
    --royal-blue:#0078d7;

    // HEADER
    --header-background:#02458b;
    --header-text-color:#ffffff;
    --header-height:2.5rem;             // 40px
    --header-start-padding:0.9375rem;   // 15px
    --header-end-padding:0.9375rem;     // 15px

    // DASHBOARD
    --dashboard-background:#f8f9fd;

    //SIDEBAR
    --sidebar-width:13rem;
    --sidebar-background:#ffffff;

    // SHADOW
    --shadow-1:0 4px 16px 0 rgba(0,0,0,0.1);

    // RADIUS
    --radius-1:1rem;      // 16px
    --radius-2:0.875rem;  // 14px
    --radius-3:0.75rem;   // 12px
    --radius-4:0.625rem;  // 10px
    --radius-5:0.5rem;    // 8px
    --radius-6:0.375rem;  // 6px
    --radius-7:0.3125rem; // 5px
    --radius-8:0.25rem;   // 4px

}
